@import './_normalize.scss';
@import './_mixins';
@import './_colors';

// Breakpoints media devices: max sizes
$mobile: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$desktop-xl: 1920px;
$desktop-4k: 2560px;

$hero-button--font-size: 1rem;

html,
body,
#root {
  height: 100vh;
  font-family: 'Poppins', 'Sans';

  li {
    list-style: none;
  }
  ul {
    text-decoration: none;
    margin-block: 0;
    padding-inline: 0;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }

  h1 {
    color: var(--h1);
    font-weight: 400;
  }
  p {
    color: var(--p);
    font-weight: 200;
  }

  @include respond-to(desktop-4k) {
    h1 {
      font-size: 2.45rem;
      font-weight: 500;
    }
    p {
      font-size: 1.35rem;
      font-weight: 200;
      $hero-button--font-size: 1.35rem;
    }
  }
  @include respond-to(desktop-xl) {
    h1 {
      font-size: 2.15rem;
    }
    p {
      font-size: 1.25rem;
      $hero-button--font-size: 1.25rem;
    }
  }
  @include respond-to(desktop) {
    h1 {
      font-size: 1.95rem;
    }
    p {
      font-size: 1.15rem;
      $hero-button--font-size: 0.95rem;
    }
  }
  @include respond-to(laptop) {
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 1rem;
      $hero-button--font-size: 1rem;
    }
  }
  @include respond-to(tablet) {
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 0.95rem;
      $hero-button--font-size: 0.95rem;
    }
  }
  @include respond-to(mobile-lg) {
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 0.95rem;
      $hero-button--font-size: 0.95rem;
    }
  }
  @include respond-to(mobile-md) {
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.95rem;
      $hero-button--font-size: 0.95rem;
    }
  }
  @include respond-to(mobile) {
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.95rem;
      $hero-button--font-size: 0.95rem;
    }
  }
}
