:root {
  --h1: #ffffff;
  --p: #ffffff;
  --span-indicator: #a2a8a9;
  --span-indicator--active: #ffffff;

  --btn-label: #ffffff;
  --btn-border: #ffffff;

  --btn-controls: #ffffff;
  --bg_btn-controls: 'transparent';
  --bg_btn-controls--hover: 'transparent';

  // Hero Buttons
  --btn-hero: #ffffff;
  --bg_btn-hero-link: #009494;
  --bg_btn-hero-contact: 'transparent';
  --bg_btn-hero--hover: rgba(0, 0, 0, 0.24);
}
