.hero-button {
  border-radius: 0.5rem;
  padding: 1rem;

  &.action-type-Link {
    background-color: #009494;
    color: white;
    border: none;
  }

  &.action-type-Contact {
    background-color: transparent;
    color: black;
    border: solid white 0.2rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.24);
  }
}
