.hero-button {
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 12rem;

  &.action-type-Link {
    background-color: var(--bg_btn-hero-link);
    color: var(--btn-hero);
    border: none;
  }

  &.action-type-Contact {
    background-color: transparent;
    color: var(--btn-hero);
    border: solid 0.15rem var(--btn-hero);
  }

  &:hover {
    background-color: var(--bg_btn-hero--hover);
  }
}
